@import "tailwindcss";

@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}


  